# Ignore IntelliJ IDEA specific files
.idea/
*.iml

# .env files
.env
.env.example

# Ignore build directories
target/

# Ignore Maven wrapper files
.mvn/
*.jar
*.war
*.ear

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

MovieClient/movie-gold-v1/node_modules/
MovieClient/movie-gold-v1/package-lock.json
MovieClient/movie-gold-v1/build/
MovieClient/movie-gold-v1/README.md

# Ignore dependency directories
/.mvn/

HELP.md


