# Ignore IntelliJ IDEA specific files
.idea/
*.iml
.env
.env.example

# Ignore build directories
target/

# Ignore Maven wrapper files
.mvn/
*.jar
*.war
*.ear

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency directories
/.mvn/

HELP.md
